:root {
  --bg-color: rgb(20, 20, 20);

  --border: rgb(255, 125, 0);
  --color1: rgb(255, 125, 0);

  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
  --card-color: rgb(23, 23, 23);
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "compass/css3";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  box-sizing: border-box;

}

body {
  font-family: 'ROBOTO', sans-serif;
  min-height: 200vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;

  background-color: #000000;



  height: 100vh;





  color: white;




}

a {
  text-decoration: none;
  color: inherit;


}

ul {
  list-style: none;

}

.navbar {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all .8s;
  font-family: 'lato', sans-serif;

  top: 0;
  color: white;

  word-spacing: 2px;

  padding: 20px 30px;



  font-size: 1.5rem;
  z-index: 1000;

}

.navbar.sticky {
  background-color: rgb(0, 0, 0, 0.9);
  padding: 5px 5px;
  color: whitesmoke;
  transition: all .2s;
  font-size: 1.3rem;
  font-weight: 900;
  word-spacing: 0px;

  backdrop-filter: blur(6px);

  border-bottom: #323232;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

#nav_list_content {
  display: flex;
  margin-top: 20px;

  flex-direction: row;
  gap: 48px;



}

#nav_list_content2 {
  display: flex;
  margin-top: 20px;

  flex-direction: row;
  gap: 48px;

  font-weight: 600;

}

.list_button1 {
  margin-right: 100px;

}



#back_banner {
  background-image: url("https://wallpaper.forfun.com/fetch/e3/e3b9f81e20af10a5ab437f33f58fa23b.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  filter: blur(3px);
  border-bottom: 2px solid black;
  position: relative;



}

.logo {
  width: 300px;
  height: auto;


  left: calc(50% - 150px);




  top: 25px;

  position: absolute;
  overflow: hidden;
}

.hidden {
  display: none;

}


.part1_nav {
  color: rgb(255, 125, 0);
  font-weight: 900;
  line-height: normal;

  position: relative;





}

.part2_nav {
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.color_white {
  color: white;
  font-size: 1.3rem;
  display: inline-block;

}


nav ul li::before {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 90px;

  transform: scaleX(0);
  transition: transform .5s ease-in-out;
  transform-origin: right;



  background: white;


  bottom: -2px;


}

nav ul li:hover {
  color: white;
  transition: all 0.4s;

}

nav ul li:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#icon {
  color: white;

}

nav ul li a:hover>#icon {
  color: var(--color1);
  transition: all 0.4s;


}


#banner_logo {
  position: absolute;
  z-index: 999;


  top: calc(50%);

  left: calc(50% - 30%);


  background-image: url("cover-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30vh;



  width: 60%;



}

btn:hover {
  cursor: pointer;

}




#section2 {




  height: 200vh;
  width: 100%;


  margin-top: 16vh;

  background-color: #2d3436;
  background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);

}


#cardsContainer {
  display: flex;
  gap: 2vh;
  justify-content: space-evenly;


  margin: 6vmin 0;








}




.card {
  aspect-ratio: 1 / 1.5;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 56vmin;
  background: #000000;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card:hover>.card-content {
  background-position: -10% 0%;
}


.card:hover>.card-content>.card-subtitle>.card-subtitle-word {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {

  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.card-1:before {
  background: url("https://miro.medium.com/v2/resize:fit:1358/0*EDZzVKpAAWnb5GKF");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  opacity: .5;
  transition: all .7s;

}

.card-2:before {
  background: url("https://adorable-home.com/wp-content/uploads/2016/06/Modern-dark-interiors-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  opacity: .5;


  transition: all .7s;

}


.card-3:before {
  background: url("https://images.pexels.com/photos/10343928/pexels-photo-10343928.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  opacity: .6;


  transition: all .7s;

}

.card-content {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 8%,
      transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 2;
}

.card-title {
  color: var(--color1);

  font-family: roboto, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.card-subtitle {
  color: white;

  word-spacing: 4px;
  line-height: 4vh;

  font-family: poppins, sans-serif;
  font-weight: 600;
  margin: 0px;
}

.card-title {
  font-size: 6vmin;
}

.card-subtitle {
  font-size: 3vmin;
  margin-top: 2vmin;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0vmin 0.3vmin;
  opacity: 0;
  position: relative;
  transform: translateY(40%);
  transition: none;
}

.card-icon {
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 7vmin;
  left: 0px;
  margin: 5vmin;
  position: absolute;
  transition: color 250ms ease;
  z-index: 2;
}

#magic_text {
  margin-top: 8vh;

  display: grid;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);

}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {

  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

h1 {
  color: white;
  font-family: "ROBOTO", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 600;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 2.7rem;
}

h1>.magic {
  display: inline-block;
  position: relative;
}

h1>.magic>.magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h1>.magic>.magic-star>svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1>.magic>.magic-star>svg>path {
  fill: var(--violet);
}

h1>.magic>.magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--purple),
      var(--violet),
      var(--color1),
      var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 4rem;

}



#separator {
  position: relative;
  z-index: 999;
  margin-top: 0;
  height: 20px;
  background-color: #000000;
  width: 100%;
}


.search-wrapper {
  position: absolute;
  height: auto;

  transform: translate(-50%, -50%);
  top: 50%;
  left: calc(100% - 60px);

}

.search-wrapper.active {}

.search-wrapper .input-holder {
  height: 50px;
  width: 50px;
  overflow: hidden;





  border-radius: 6px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.search-wrapper.active .input-holder {
  width: 60vh;
  border-radius: 25px;


  transition: all 0.5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  color: var(--color1);

  font-weight: 500;

}

.search-wrapper .input-holder .search-input {
  width: 100%;
  height: 100%;

  padding: 7px 50px 12px 15px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);


  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 1.2rem;

  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  transform: translate(0, 40px);
  transition: all 0.4s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 2px);
}

.search-wrapper .input-holder .search-icon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: #FFF;
  padding: 0;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 20px;
  padding-bottom: 6px;

}

.search-wrapper .input-holder .search-icon span {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: '';
}

.search-wrapper .input-holder .search-icon span::before {
  width: 3px;
  height: 9px;
  left: 6px;
  top: 10px;
  border-radius: 2px;
  background: #FE5F55;
}

.search-wrapper .input-holder .search-icon span::after {
  width: 12px;
  height: 12px;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 3px solid #FE5F55;
  /* Adjusted border */
}

.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all 0.4s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
}

.search-wrapper.active .close {
  right: -25px;
  transform: rotate(45deg);
  transition: all 0.6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
}

.search-wrapper .close::before,
.search-wrapper .close::after {
  position: absolute;
  content: '';
  background: #FE5F55;
  border-radius: 2px;
}

.search-wrapper .close::before {
  width: 4px;
  height: 20px;
  left: 8px;
  top: 0;
}

.search-wrapper .close::after {
  width: 20px;
  height: 4px;
  left: 0;
  top: 8px;
}



/* 
reviewCard code */
#hidder {
  width: 250px;
  height: 74px;
  background-color: #111111;

  position: absolute;
  top: calc(600px - 5vmin);

  left: calc(50% - 125px);
  border-radius: 2px;


  z-index: 100;
}

#reviewContainer {
  position: absolute;
  z-index: 1;
  top: 12vmin;






}

/* #reviewContainer {
  display: flex;
  flex-direction: row;
  gap: 4vmin;
  justify-content: center;
  align-items: center;
margin-bottom:12vmin;



}

.reviewCard {

  border: 0.5vmin solid var(--border);
  position: relative;
  width: 42vmin;

  background-color: #2d3436;
  background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
  max-width: 42vmin;
  aspect-ratio: 1 /1.2;

}

.image {

  width: 16vmin;

  height: 16vmin;
  border-radius: 50%;







  background-size: cover;
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQxXXR_Pyi5TxSFhy1VDLdz6yywkirQtDOzBn-i6sfvTC-RPuMF");










}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: poppins, sans-serif;
  font-size: 4vmin;
  color: var(--color1);
  padding: 8px;
  opacity: .9;

  font-weight: 700;
  flex-wrap: nowrap;
  align-items: center;
}

.reviewStar {
  font-size: 5vmin;
  color: #FD4;
  display: flex;
  gap: 4px;
  bottom: 3.5vmin;
  justify-content: center;
  align-items: flex-end;


opacity:.88;




}

.reviewCard .para {
  color: white;
  font-size: 3vmin;
  opacity: 0.9;
  text-align: center;

  line-height: 3.5vh;

  font-family: poppins, sans-serif;
  font-weight: 500;
  margin: 4vmin 0px;

  
}
.reviewCard .date{
  position:absolute;
  bottom:0;
  color:var(--color1);
  left:1vmin;

  
} */
#emptySpace {
  width: 100%;
  height: 16vmin;
  background-color: #00000000;
  z-index: 100;

}

/* footer code*/


.new_footer_area {
  background-color: #2d3436;
  background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
  border-top: 1px rgba(255, 255, 255, 0.2) solid;

  z-index: 100;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
  z-index: 100;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #aaaaaa;
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #bbbbbb;
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: rgb(255, 125, 0);
}

.btn_get:hover {
  color: #fff;
  background: rgb(255, 125, 0);
  border-color: rgb(255, 125, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: rgb(255, 125, 0);
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #444;
  font-size: 24px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #000;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-youtube:before {
  content: "\e738";
  /* Replace with the correct Unicode for YouTube icon */
}

.ti-instagram:before {
  content: "\e740";
  /* Replace with the correct Unicode for Instagram icon */
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgb(255, 125, 0);
  border-color: rgb(255, 125, 0);
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: rgb(255, 125, 0);
}

.new_footer_top .f_social_icon a:hover {
  background: rgb(255, 125, 0);
  border-color: rgb(255, 125, 0);
  color: white;
}

.new_footer_top .f_social_icon a+a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: rgb(255, 125, 0);
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}



.new_footer_top .f_widget.about-widget .f_list li a {
  color: #bbbbbb;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 20s linear infinite;
  animation: myfirst 20s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}




















/* 88888888888888888888888888888888*/


